{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>Contact Me</h1>
<
<p>Mr. Luciano Soncini
    Brazilian
    Email: lucianosoncini@hotmail.com | lucianosoncini@gmail.com
    Phone: +55 (48) 98808-9913
    Location: Florianópolis, SC, Brazil</p>
<p>Objective
    Seeking opportunities in the IT field, particularly in technical support, 
    IT consulting, and systems maintenance, with a focus on leveraging my skills in hardware, 
    software, and network administration. Eager to expand my experience internationally.</p>
     
<a href="/static/curriculum.pdf" download>Download My Resume</a>
{% endblock %}
